<body>

    <style type="text/css">
        body{
            background-color: #ccc;
        }
 .topnav {
  overflow: hidden;
  background-color: #2196F3;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: black;
  color: white;
}

.topnav a.active {
  background-color: black;
  color: white;
} 
    </style>
    <body>
  <div class="topnav">
  <a class="active" href="{% url 'dashboard' %}">Home</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="#logout">Logout</a>
</div>
<body>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="text" class="form-control" name="type_of_asset" placeholder="Type of Asset">
    <input type="text" class="form-control" name="name_of_asset" placeholder="Name of Asset">
    <input type="text" class="form-control" name="description" placeholder="Description">
    <input type="text" class="form-control" name="username" placeholder="Username">
    <input type="text" class="form-control" name="name" placeholder="Name">
    <input type="text" class="form-control" name="first_name" placeholder="First Name">
    <input type="text" class="form-control" name="last_name" placeholder="Last Name">
    <input type="text" class="form-control" name="groups" placeholder="Groups">
    <input type="text" class="form-control" name="roles" placeholder="Roles">
    <input type="text" class="form-control" name="block_sign_in" placeholder="Block Sign In">
    <input type="text" class="form-control" name="usage_location" placeholder="Usage Location">
    <input type="text" class="form-control" name="job_title" placeholder="Job Title">
    <input type="text" class="form-control" name="department" placeholder="Department">

    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Submit">
</form>
</body>