
<style type="text/css">
body {
	background-color: #ccc;
}

.topnav {
  overflow: hidden;
  background-color: #2196F3;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a:hover {
  background-color: black;
  color: white;
}
</style>
<div class="topnav">
  <a class="active" href="{% url 'dashboard' %}">Home</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <a href="#logout">Logout</a>
</div>
<form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>