{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Connections</title>

    <!-- Bootstrap -->
      <link href="{% static 'css/global.css' %}" rel="stylesheet">

              <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

  </head>
  <body>
  <div class="d-flex flex-column align-items-center justify-content-center">
      <div class="card">
  <img src="{% static '/images/spong.jpeg' %}" alt="John" style="width:100%">
  <h1>{{staff.first_name}} {{staff.last_name}}</h1>
  <p class="title">{{staff.email}}</p>
<!--  <a href="#"><i class="fa fa-dribbble"></i></a>-->
<!--  <a href="#"><i class="fa fa-twitter"></i></a>-->
<!--  <a href="#"><i class="fa fa-linkedin"></i></a>-->
<!--  <a href="#"><i class="fa fa-facebook"></i></a>-->
<!--  <p><button>Contact</button></p>-->
</div>
      <br>
       <div class="text-center">
                          <div class="outer-form">
                    <table class="table-striped table table-bordered vertical">
                          <thead style="color: white; font-weight: normal; background-color: black;" >
                            <tr>
                              <th  class="head">S.No.</th>
                              <th  class="head">Username</th>
                              <th  class="head">E-mail</th>
                              <th  class="head">Phone Number</th>
                              <th  class="head">Location</th>
                              <th  class="head">Status</th>
                            </tr>
                          </thead>

                          <tbody style="border:1px solid transparent; background-color:#242424; color:#A1A6AB; text-align: left;">
                            <tr>
                              <td style="padding: 14px;">01</td>
                              <td>WaLia</td>
                              <td>Walia@gmail.com</td>
                              <td>+1 222 555 6666</td>
                              <td>Ontario, Canada</td>
                              <td>
                               <label class="switch">
                               <input type="checkbox" checked>
                               <span class="slider round"></span>
                               </label>
                              </td>
                            </tr>


                             <tr>
                              <td style="padding: 14px;">02</td>
                              <td>WaLia</td>
                              <td>Walia@gmail.com</td>
                              <td>+1 222 555 6666</td>
                              <td>Ontario, Canada</td>
                              <td>
                               <label class="switch">
                               <input type="checkbox">
                               <span class="slider round"></span>
                               </label>
                              </td>
                            </tr>

                            <tr>
                              <td style="padding: 14px;">03</td>
                              <td>WaLia</td>
                              <td>Walia@gmail.com</td>
                              <td>+1 222 555 6666</td>
                              <td>Ontario, Canada</td>
                              <td>
                               <label class="switch">
                               <input type="checkbox">
                               <span class="slider round"></span>
                               </label>
                              </td>
                            </tr>

                            <tr>
                              <td style="padding: 14px;">04</td>
                              <td>WaLia</td>
                              <td>Walia@gmail.com</td>
                              <td>+1 222 555 6666</td>
                              <td>Ontario, Canada</td>
                              <td>
                               <label class="switch">
                               <input type="checkbox">
                               <span class="slider round"></span>
                               </label>
                              </td>
                            </tr>

                            <tr>
                              <td style="padding: 14px;">05</td>
                              <td>WaLia</td>
                              <td>Walia@gmail.com</td>
                              <td>+1 222 555 6666</td>
                              <td>Ontario, Canada</td>
                              <td>
                               <label class="switch">
                               <input type="checkbox">
                               <span class="slider round"></span>
                               </label>
                              </td>
                            </tr>

                            <tr>
                              <td style="padding: 14px;">06</td>
                              <td>WaLia</td>
                              <td>Walia@gmail.com</td>
                              <td>+1 222 555 6666</td>
                              <td>Ontario, Canada</td>
                              <td>
                               <label class="switch">
                               <input type="checkbox">
                               <span class="slider round"></span>
                               </label>
                              </td>
                            </tr>

                            <tr>
                              <td style="padding: 14px;">07</td>
                              <td>WaLia</td>
                              <td>Walia@gmail.com</td>
                              <td>+1 222 555 6666</td>
                              <td>Ontario, Canada</td>
                              <td>
                               <label class="switch">
                               <input type="checkbox">
                               <span class="slider round"></span>
                               </label>
                              </td>
                            </tr>

                            <tr>
                              <td style="padding: 14px;">08</td>
                              <td>WaLia</td>
                              <td>Walia@gmail.com</td>
                              <td>+1 222 555 6666</td>
                              <td>Ontario, Canada</td>
                              <td>
                               <label class="switch">
                               <input type="checkbox">
                               <span class="slider round"></span>
                               </label>
                              </td>
                            </tr>

                            <tr>
                              <td style="padding: 14px;">09</td>
                              <td>WaLia</td>
                              <td>Walia@gmail.com</td>
                              <td>+1 222 555 6666</td>
                              <td>Ontario, Canada</td>
                              <td>
                               <label class="switch">
                               <input type="checkbox">
                               <span class="slider round"></span>
                               </label>
                              </td>
                            </tr>

                            <tr>
                              <td style="padding: 14px;">10</td>
                              <td>WaLia</td>
                              <td>Walia@gmail.com</td>
                              <td>+1 222 555 6666</td>
                              <td>Ontario, Canada</td>
                              <td>
                               <label class="switch">
                               <input type="checkbox">
                               <span class="slider round"></span>
                               </label>
                              </td>
                            </tr>

                          </tbody>
                        </table>
                      </div>
                  </div>
              </div>
  </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>